 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: "Rubik", sans-serif;
     font-size: 3.5vw;
 }

 body {
     background-color: dodgerblue;
     background-image: url(https://wallpapercave.com/wp/wp2208679.jpg);
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: 100vw 100vh;
     /* background-position: center; */
 }

 .main {
     text-align: center;
     border: 3px solid white;
     width: 100vw;
     margin-top: 20px;
 }

 h1 {
     font-size: 5vw;
     margin-top: 10px;
     color: black;
 }

 .container {
     /* margin-left: auto; */
     /* background-position: center; */
     /* display: inline-block; */
     /* border: 2px solid white; */
 }

 li {
     padding: 17px;
     margin: 9px;
     list-style: none;
     /* border:2px solid black ; */
 }

 li a {
     margin: 38px;
     padding: 6px;
     text-decoration: none;
     color: firebrick;
     border: 2px solid whitesmoke;
     color: black;
     background-color: #F2F2F2;
     border-radius: 30px;
     box-shadow: 10px 10px 10px black;
 }

 a:hover {
     background-color: black;
     color: whitesmoke;
     opacity: 0.8;
 }

 /* footer */

 footer {
     margin-top: 50px;
     background-color: rgba(255, 255, 255, 0.5);
     color: black;
     /* border-radius: 10px; */
 }