     * {
         margin: 0;
         padding: 0;
         box-sizing: border-box;
         font-family: "Rubik", sans-serif;
         font-size: 1.2rem;
     }

     .main {
         /* text-align: center; */
         border: 3px solid black;
         width: 100vw;
         margin-top: 20px;
     }

     form {
         margin-top: 30px;
     }

     body {
         color: black;
     }

     h1 {
         text-align: center;
         font-size: ;
         /* box-shadow: 7px 7px 8px black; */
         /* font-size: 45px; */
     }

     body::before {
         content: '';
         background-color: dodgerblue;
         background-image: url(https://wallpapercave.com/wp/wp2516033.jpg);
         background-repeat: no-repeat;
         background-attachment: fixed;
         background-size: 100vw 100vh;
         position: absolute;
         top: 0px;
         left: 0px;
         z-index: -1;
         width: 100vw;
         height: 150vh;
         opacity: 0.4;
     }

     ul {
         /* border: 5px solid red; */
     }

     li {
         /* border: 2px solid white; */
         padding: px;
         margin-top: 15px;
         margin-bottom: 20px;
         list-style: none;
     }

     li a {
         margin: ;
         padding: 8px;
         text-decoration: none;
         /* border: 2px solid whitesmoke; */
         color: black;
         background-color: #F2F2F2;
         border-radius: 30px;
         box-shadow: 10px 10px 10px black;
         font-size: ;
     }

     a:hover {
         background-color: black;
         color: whitesmoke;
         opacity: 0.8;
     }

     .btn {
         text-align: center;
         padding: 3px;
         color: black;
         background-color: #F2F2F2;
         margin-bottom: 10px;
         margin-left: 2px;
         border-radius: 10px;
         border: ;
         box-shadow: 7px 7px 8px black;
         font-size: px;
     }

     .btn:hover {
         background-color: black;
         color: whitesmoke;
         opacity: 0.8;
         cursor: pointer;
         box-shadow: 7px 7px 8px black;
     }

     label {
         /* font-size: 30px; */
         /* box-shadow: 7px 7px 8px black; */
     }

     input {
         /* box-shadow: 7px 7px 8px black;
    } */